*{
    margin:0;
    font-family: Arial;
    border: border-box;
}

.scrolly{
    height: 100%;
    width:20px;
    border:1px solid black;
    overflow: auto  ;
}

::-webkit-scrollbar{
    width:20px;
}

::-webkit-scrollbar-track{
    border:1px solid black;
    background-color: whitesmoke;
  }

::-webkit-scrollbar-thumb{
    background:grey;
}

.navbar{
    height:60px;
    background-color: #0F1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box 1 */

.navlogo{
    height:50px;
    width:100px;
}

.logo{
    background-image: url("Logooo.png");
    background-size: cover;
    height:50px;
    width: 100%
}

.border{
    border:1px solid transparent;
}

.border:hover{
    border:1px solid white;
}


/* box2 */


.ad1{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.ad2{
    color:#ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

.addicon{
    display: flex;
    align-items: center;
}


/*Box 3*/


.navsearch{
    display: flex;
    background-color: orange;
    justify-content: space-evenly;
    width: 920px;
    height: 40px;
    border-radius: 3px;
}

.searchselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align:center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.searchinput{
    width:100%;
    font-size: 1rem;
    border:none;
}

.searchicon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:black;
}

.navsearch:hover{
    background-color: rgb(255, 123, 0);

}

.navsearch:hover{
    border:2px solid orange;
}


/* Box 4 */

.countryselect{
    background-color:#0F1111;
    color:white;
    border:none;
    font-weight: bolder;
}


/* Box 5/6 */

span{
    font-size: 0.7rem;
}

.navsec{
    font-size: 0.85rem;
    font-weight: 700;
}

.navreturn i{
    font-size:35px;
}

/* Box 7 */


.navcart i{
    font-size: 35px;
}

.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* PANEL */


.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelall{
    padding: 8px;
    display: flex;
}

.all1{
    margin-left: 4px;
}

.panelops p{
    display: inline;
    margin-left: 3px;
    padding:6px;
}

.panelops{
    width:80%;
    font-size: 0.85rem;
}

.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
    padding:6px;
}


/* Hero Section */

.heroo{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heromsg{
    background-color: white;
    color: black;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom:25px;
}

.heromsg a{
    color: #007185;
}

.heromsg a:hover{
    color:rgb(244, 110, 8);
    text-decoration: underline;
}


/**Shop Section**/


.shoppy{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height:380px;
    border:2px solid black;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.boximg{
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxcon{
    margin-left: 1rem;
    margin-right: 1rem;
}

.boxcon p{
    color:#007185;
}

.boxcon p:hover{
    color:orangered;
}


/**Footer**/

footer{
    margin-top: 15px;
}

.fpan1{
    background-color: #37475a;
    color:white;
    height:50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 0.85rem;
}

.fpan1 a{
    text-decoration: none;
    color:white
}

.fpan1:hover{
    background-color: #47586d;
}

.fpan2{
    background-color: #222f3d;
    color: white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}

.fpan2 a:hover{
    text-decoration: underline;
}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}

ul p{
    font-weight: 700;
}

.fpan3{
    background-color:#222f3d;
    color:white;
    border-top: 0.5px solid white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    background-image: url("Logog.png");
    background-size: cover;
    height:50px;
    width:100px;
    margin-right: 100px;
}

.cont{
    border:1px solid #dddddd;
    display: flex;
}

.eng{
    border:1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rupee{
    border:1px solid #dddddd ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endd div{
    margin-right: 10px;
}

.endd p{
    padding: 5px;
    color:#cccccc;
    font-size: 13px;
}

.endd{
    display: flex;
}

.fpan4{
    background-color: #131A22;
    font-size: 0.75rem;
    color:#dddddd;
    height:77px;
}

.pages a{
    margin-right:15px;
}

.copyright{
    text-align: center;
    padding-top: 5px;
}

.pages{
    text-align: center;
    padding-top: 25px;
}

.pages a:hover{
    text-decoration: underline;
}


/* Media Quieries */

@media(in-width:1500px) and (max-width:5000px){
    .navreturn i{
        display: none;
    }
    .panelall{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width:1250px) and (max-width:1500px){
    *{
        margin:0;
        font-family: Arial;
        border: border-box;
    }
    
    .navbar{
        height:60px;
        background-color: #0F1111;
        color:white;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /* box 1 */
    
    .navlogo{
        height:50px;
        width:100px;
    }
    
    .logo{
        background-image: url("Logooo.png");
        background-size: cover;
        height:50px;
        width: 100%
    }
    
    .border{
        border:1px solid transparent;
    }
    
    .border:hover{
        border:1px solid white;
    }
    
    
    /* box2 */
    
    
    .ad1{
        color:#cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
    }
    
    .ad2{
        color:#ffffff;
        font-size: 1rem;
        margin-left: 3px;
    }
    
    .addicon{
        display: flex;
        align-items: center;
    }
    
    
    /*Box 3*/
    
    
    .navsearch{
        display: flex;
        background-color: orange;
        justify-content: space-evenly;
        width: 920px;
        height: 40px;
        border-radius: 3px;
    }
    
    .searchselect{
        background-color: #f3f3f3;
        width: 50px;
        text-align:center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
    }
    
    .searchinput{
        width:100%;
        font-size: 1rem;
        border:none;
    }
    
    .searchicon{
        width:45px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:black;
    }
    
    .navsearch:hover{
        background-color: rgb(255, 123, 0);
    
    }
    
    .navsearch:hover{
        border:2px solid orange;
    }
    
    
    /* Box 4 */
    
    .countryselect{
        background-color:#0F1111;
        color:#0F1111;
        border:none;
        font-weight: bolder;
        display:none;
    }
    
    
    /* Box 5/6 */
    
    span{
        font-size: 0.7rem;
    }
    
    .navsec{
        font-size: 0.85rem;
        font-weight: 700;
    }

    .navacc{
        display:none;
    }
    
    
    /* Box 7 */
    
    
    .navcart i{
        font-size: 30px;
    }
    
    .navcart{
        font-size: 0.85rem;
        font-weight: 700;
    }

    .navcart p{
        display:none;   
    }
    
    
    /* PANEL */
    
    
    .panel{
        height:40px;
        background-color: #222f3d;
        display:flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .panelall{
        padding: 8px;
    }
    
    .panelops p{
        display: inline;
        margin-left: 3px;
        padding:6px;
    }
    
    .panelops{
        width:80%;
        font-size: 0.85rem;
    }
    
    .paneldeals{
        font-size: 0.9rem;
        font-weight: 700;
        padding:6px;
    }
    
    .all1{
        display: none;
    }
    
    /* Hero Section */
    
    .heroo{
        background-image: url(hero_image.jpg);
        height: 350px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .heromsg{
        background-color: white;
        color: black;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        width: 80%;
        margin-bottom:25px;
    }
    
    .heromsg a{
        color: #007185;
    }
    
    .heromsg a:hover{
        color:rgb(244, 110, 8);
        text-decoration: underline;
    }
    
    
    /**Shop Section**/
    
    
    .shoppy{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    
    .box{
        height:380px;
        border:2px solid black;
        width:23%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
    }
    
    .boximg{
        height:300px;
        background-size: cover;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .boxcon{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .boxcon p{
        color:#007185;
    }
    
    .boxcon p:hover{
        color:orangered;
    }
    
    
    /**Footer**/
    
    footer{
        margin-top: 15px;
    }
    
    .fpan1{
        background-color: #37475a;
        color:white;
        height:50px;
        display: flex;
        justify-content:center ;
        align-items: center;
        font-size: 0.85rem;
    }
    
    .fpan1 a{
        text-decoration: none;
        color:white
    }
    
    .fpan1:hover{
        background-color: #47586d;
    }
    
    .fpan2{
        background-color: #222f3d;
        color: white;
        height:300px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .fpan2 a:hover{
        text-decoration: underline;
    }
    ul{
        margin-top: 20px;
    }
    
    ul a{
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color:#dddddd;
    }
    
    ul p{
        font-weight: 700;
    }
    
    .fpan3{
        background-color:#222f3d;
        color:white;
        border-top: 0.5px solid white;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo1{
        background-image: url("Logog.png");
        background-size: cover;
        height:50px;
        width:100px;
        margin-right: 100px;
    }
    
    .cont{
        border:1px solid #dddddd;
        display: flex;
    }
    
    .eng{
        border:1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rupee{
        border:1px solid #dddddd ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .endd div{
        margin-right: 10px;
    }
    
    .endd p{
        padding: 5px;
        color:#cccccc;
        font-size: 13px;
    }
    
    .endd{
        display: flex;
    }
    
    .fpan4{
        background-color: #131A22;
        font-size: 0.75rem;
        color:#dddddd;
        height:77px;
    }
    
    .pages a{
        margin-right:15px;
    }
    
    .copyright{
        text-align: center;
        padding-top: 5px;
    }
    
    .pages{
        text-align: center;
        padding-top: 25px;
    }
    
    .pages a:hover{
        text-decoration: underline;
    }
}


@media(min-width:1000px) and (max-width:1250px){
    *{
        margin:0;
        font-family: Arial;
        border: border-box;
    }
    
    .navbar{
        height:60px;
        background-color: #0F1111;
        color:white;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /* box 1 */
    
    .navlogo{
        height:50px;
        width:100px;
    }
    
    .logo{
        background-image: url("Logooo.png");
        background-size: cover;
        height:50px;
        width: 100%
    }
    
    .border{
        border:1px solid transparent;
    }
    
    .border:hover{
        border:1px solid white;
    }
    
    
    /* box2 */
    
    
    .ad1{
        color:#cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
    }
    
    .ad2{
        color:#ffffff;
        font-size: 1rem;
        margin-left: 3px;
    }
    
    .addicon{
        display: flex;
        align-items: center;
    }
    
    
    /*Box 3*/
    
    
    .navsearch{
        display: flex;
        background-color: orange;
        justify-content: space-evenly;
        width: 920px;
        height: 40px;
        border-radius: 3px;
    }
    
    .searchselect{
        background-color: #f3f3f3;
        width: 50px;
        text-align:center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
    }
    
    .searchinput{
        width:100%;
        font-size: 1rem;
        border:none;
    }
    
    .searchicon{
        width:45px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:black;
    }
    
    .navsearch:hover{
        background-color: rgb(255, 123, 0);
    
    }
    
    .navsearch:hover{
        border:2px solid orange;
    }
    
   .countryselect{
    display:none;
   }

   .navcountry i{
    font-size: 25px;
   }

    /* Box 5/6 */

    span{
        font-size: 0.7rem;
    }
    
    .navsec{
        font-size: 0.85rem;
        font-weight: 700;
    }

    .navacc{
        display:none;
    }

    .navreturn p{
        display: none;
    }

    .navreturn i{
        font-size: 25px;
    }
    
    
    /* Box 7 */
    
    
    .navcart i{
        font-size: 25px;
    }
    
    .navcart p{
        font-size: 0.85rem;
        font-weight: 700;
        display: none;
    }
    
    
    /* PANEL */
    
    
    .panel{
        height:40px;
        background-color: #222f3d;
        display:flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .panelall{
        padding: 8px;
    }
    
    .panelops p{
        display: inline;
        margin-left: 3px;
        padding:6px;
    }
    
    .panelops{
        width:80%;
        font-size: 0.85rem;
    }
    
    .paneldeals{
        font-size: 0.9rem;
        font-weight: 700;
        padding:6px;
    }

    .all1{
        display: none;
    }
    
    
    /* Hero Section */
    
    .heroo{
        background-image: url(hero_image.jpg);
        height: 250px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .heromsg{
        background-color: white;
        color: black;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        width: 80%;
        margin-bottom:25px;
    }
    
    .heromsg a{
        color: #007185;
    }
    
    .heromsg a:hover{
        color:rgb(244, 110, 8);
        text-decoration: underline;
    }
    
    
    /**Shop Section**/
    
    
    .shoppy{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    
    .box{
        height:300px;
        border:2px solid black;
        width:23%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
    }
    
    .boximg{
        height:220px;
        background-size: cover;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .boxcon{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .boxcon p{
        color:#007185;
    }
    
    .boxcon p:hover{
        color:orangered;
    }
    
    
    /**Footer**/
    
    footer{
        margin-top: 15px;
    }
    
    .fpan1{
        background-color: #37475a;
        color:white;
        height:50px;
        display: flex;
        justify-content:center ;
        align-items: center;
        font-size: 0.85rem;
    }
    
    .fpan1 a{
        text-decoration: none;
        color:white
    }
    
    .fpan1:hover{
        background-color: #47586d;
    }
    
    .fpan2{
        background-color: #222f3d;
        color: white;
        height:300px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .fpan2 a:hover{
        text-decoration: underline;
    }
    ul{
        margin-top: 20px;
    }
    
    ul a{
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color:#dddddd;
    }
    
    ul p{
        font-weight: 700;
    }
    
    .fpan3{
        background-color:#222f3d;
        color:white;
        border-top: 0.5px solid white;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo1{
        background-image: url("Logog.png");
        background-size: cover;
        height:50px;
        width:100px;
        margin-right: 100px;
    }
    
    .cont{
        border:1px solid #dddddd;
        display: flex;
    }
    
    .eng{
        border:1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rupee{
        border:1px solid #dddddd ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .endd div{
        margin-right: 10px;
    }
    
    .endd p{
        padding: 5px;
        color:#cccccc;
        font-size: 13px;
    }
    
    .endd{
        display: flex;
    }
    
    .fpan4{
        background-color: #131A22;
        font-size: 0.75rem;
        color:#dddddd;
        height:77px;
    }
    
    .pages a{
        margin-right:15px;
    }
    
    .copyright{
        text-align: center;
        padding-top: 5px;
    }
    
    .pages{
        text-align: center;
        padding-top: 25px;
    }
    
    .pages a:hover{
        text-decoration: underline;
    }
}

@media(min-width:800px) and (max-width:1000px){
    *{
        margin:0;
        font-family: Arial;
        border: border-box;
    }
    
    .navbar{
        height:60px;
        background-color: #0F1111;
        color:white;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /* box 1 */
    
    .navlogo{
        height:50px;
        width:100px;
    }
    
    .logo{
        background-image: url("Logooo.png");
        background-size: cover;
        height:50px;
        width: 100%
    }
    
    .border{
        border:1px solid transparent;
    }
    
    .border:hover{
        border:1px solid white;
    }
    
    
    /* box2 */
    
    
    .ad1{
        color:#cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
        display: none;
    }
    
    .ad2{
        color:#ffffff;
        font-size: 1rem;
        margin-left: 3px;
    }
    
    .addicon{
        display: flex;
        align-items: center;
    }
    
    
    /*Box 3*/
    
    
    .navsearch{
        display: flex;
        background-color: orange;
        justify-content: space-evenly;
        width: 720px;
        height: 40px;
        border-radius: 3px;
    }
    
    .searchselect{
        background-color: #f3f3f3;
        width: 50px;
        text-align:center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
    }
    
    .searchinput{
        width:100%;
        font-size: 1rem;
        border:none;
    }
    
    .searchicon{
        width:45px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:black;
    }
    
    .navsearch:hover{
        background-color: rgb(255, 123, 0);
    
    }
    
    .navsearch:hover{
        border:2px solid orange;
    }
    
   .countryselect{
    display:none;
   }

   .navcountry i{
    font-size: 25px;
   }

    /* Box 5/6 */

    span{
        font-size: 0.7rem;
    }
    
    .navsec{
        font-size: 0.85rem;
        font-weight: 700;
    }

    .navacc{
        display:none;
    }

    .navreturn p{
        display: none;
    }

    .navreturn i{
        font-size: 25px;
    }
    
    
    /* Box 7 */
    
    
    .navcart i{
        font-size: 25px;
    }
    
    .navcart p{
        font-size: 0.85rem;
        font-weight: 700;
        display: none;
    }
    
    
    /* PANEL */
    
    
    .panel{
        height:40px;
        background-color: #222f3d;
        display:flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .panelall{
        padding: 8px;
    }
    
    .panelops p{
        display: inline;
        margin-left: 3px;
        padding:6px;
    }
    
    .panelops{
        width:80%;
        font-size: 0.85rem;
    }
    
    .paneldeals{
        font-size: 0.9rem;
        font-weight: 700;
        padding:6px;
    }

    .all1{
        display: none;
    }
    
    
    /* Hero Section */
    
    .heroo{
        background-image: url(hero_image.jpg);
        height: 200px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .heromsg{
        background-color: white;
        color: black;
        height:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.72rem;
        width: 80%;
        margin-bottom:25px;
    }
    
    .heromsg a{
        color: #007185;
    }
    
    .heromsg a:hover{
        color:rgb(244, 110, 8);
        text-decoration: underline;
    }
    
    
    /**Shop Section**/
    
    
    .shoppy{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    
    .box{
        height:200px;
        border:2px solid black;
        width:23%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 15px;
    }
    
    .boximg{
        height:150px;
        background-size: cover;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
    
    .boxcon{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    
    .boxcon p{
        color:#007185;
    }
    
    .boxcon p:hover{
        color:orangered;
    }

    .boxcon h2{
        font-size: 20px;
    }
    
    
    /**Footer**/
    
    footer{
        margin-top: 15px;
    }
    
    .fpan1{
        background-color: #37475a;
        color:white;
        height:50px;
        display: flex;
        justify-content:center ;
        align-items: center;
        font-size: 0.85rem;
    }
    
    .fpan1 a{
        text-decoration: none;
        color:white
    }
    
    .fpan1:hover{
        background-color: #47586d;
    }
    
    .fpan2{
        background-color: #222f3d;
        color: white;
        height:300px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .fpan2 a:hover{
        text-decoration: underline;
    }
    ul{
        margin-top: 20px;
    }
    
    ul a{
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color:#dddddd;
    }
    
    ul p{
        font-weight: 700;
    }
    
    .fpan3{
        background-color:#222f3d;
        color:white;
        border-top: 0.5px solid white;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo1{
        background-image: url("Logog.png");
        background-size: cover;
        height:50px;
        width:100px;
        margin-right: 100px;
    }
    
    .cont{
        border:1px solid #dddddd;
        display: flex;
    }
    
    .eng{
        border:1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rupee{
        border:1px solid #dddddd ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .endd div{
        margin-right: 10px;
    }
    
    .endd p{
        padding: 5px;
        color:#cccccc;
        font-size: 13px;
    }
    
    .endd{
        display: flex;
    }
    
    .fpan4{
        background-color: #131A22;
        font-size: 0.75rem;
        color:#dddddd;
        height:77px;
    }
    
    .pages a{
        margin-right:15px;
    }
    
    .copyright{
        text-align: center;
        padding-top: 5px;
    }
    
    .pages{
        text-align: center;
        padding-top: 25px;
    }
    
    .pages a:hover{
        text-decoration: underline;
    }
}

@media(min-width:600px) and (max-width:800px){
    *{
        margin:0;
        font-family: Arial;
        border: border-box;
    }
    
    .navbar{
        height:50px;
        background-color: #0F1111;
        color:white;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /* box 1 */
    
    .navlogo{
        height:50px;
        width:90px;
    }
    
    .logo{
        background-image: url("Logooo.png");
        background-size: cover;
        height:50px;
        width: 100%
    }
    
    .border{
        border:1px solid transparent;
    }
    
    .border:hover{
        border:1px solid white;
    }
    
    
    /* box2 */
    
    
    .ad1{
        color:#cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
        display: none;
    }
    
    .ad2{
        color:#ffffff;
        font-size: 1rem;
        margin-left: 3px;
    }
    
    .addicon{
        display: flex;
        align-items: center;
    }
    
    
    /*Box 3*/
    
    
    .navsearch{
        display: flex;
        background-color: orange;
        justify-content: space-evenly;
        width: 450px;
        height: 35px;
        border-radius: 3px;
    }
    
    .searchselect{
        background-color: #f3f3f3;
        width: 50px;
        text-align:center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
    }
    
    .searchinput{
        width:100%;
        font-size: 1rem;
        border:none;
    }
    
    .searchicon{
        width:45px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:black;
    }
    
    .navsearch:hover{
        background-color: rgb(255, 123, 0);
    
    }
    
    .navsearch:hover{
        border:2px solid orange;
    }
    
   .countryselect{
    display:none;
   }

   .navcountry i{
    font-size: 25px;
   }

    /* Box 5/6 */

    span{
        font-size: 0.7rem;
    }
    
    .navsec{
        font-size: 0.85rem;
        font-weight: 700;
    }

    .navacc{
        display:none;
    }

    .navreturn p{
        display: none;
    }

    .navreturn i{
        font-size: 25px;
    }
    
    
    /* Box 7 */
    
    
    .navcart i{
        font-size: 25px;
    }
    
    .navcart p{
        font-size: 0.85rem;
        font-weight: 700;
        display: none;
    }
    
    
    /* PANEL */
    
    
    .panel{
        height:40px;
        background-color: #222f3d;
        display:flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .panelall{
        padding: 8px;
    }
    
    .panelops p{
        display: inline;
        margin-left: 3px;
        padding:6px;
    }
    
    .panelops{
        width:80%;
        font-size: 0.85rem;
    }
    
    .paneldeals{
        font-size: 0.9rem;
        font-weight: 700;
        padding:3px;
    }

    .all1{
        display: none;
    }
    
    
    /* Hero Section */
    
    .heroo{
        background-image: url(hero_image.jpg);
        height: 169px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .heromsg{
        background-color: white;
        color: black;
        height:17px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.52rem;
        width: 80%;
        margin-bottom:25px;
    }
    
    .heromsg a{
        color: #007185;
    }
    
    .heromsg a:hover{
        color:rgb(244, 110, 8);
        text-decoration: underline;
    }
    
    
    /**Shop Section**/
    
    
    .shoppy{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    
    .box{
        height:160px;
        border:2px solid black;
        width:23%;
        background-color: white;
        padding: 10px 0px 15px;
        margin-top: 0px;
    }
    
    .boximg{
        height:130px;
        background-size: cover;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    
    .boxcon{
        margin-left: 0.55rem;
        margin-right: 0.55rem;
    }
    
    .boxcon p{
        color:#007185;
        font-size: 10px;
    }
    
    .boxcon p:hover{
        color:orangered;
    }

    .boxcon h2{
        font-size: 17px;
    }
    
    
    /**Footer**/
    
    footer{
        margin-top: 15px;
    }
    
    .fpan1{
        background-color: #37475a;
        color:white;
        height:50px;
        display: flex;
        justify-content:center ;
        align-items: center;
        font-size: 0.85rem;
    }
    
    .fpan1 a{
        text-decoration: none;
        color:white
    }
    
    .fpan1:hover{
        background-color: #47586d;
    }
    
    .fpan2{
        background-color: #222f3d;
        color: white;
        height:300px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .fpan2 a:hover{
        text-decoration: underline;
    }
    ul{
        margin-top: 20px;
    }
    
    ul a{
        display: block;
        font-size: 0.65rem;
        margin-top: 10px;
        color:#dddddd;
    }
    
    ul p{
        font-weight: 600;
        font-size: 15px;
    }
    
    .fpan3{
        background-color:#222f3d;
        color:white;
        border-top: 0.5px solid white;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo1{
        background-image: url("Logog.png");
        background-size: cover;
        height:50px;
        width:100px;
        margin-right: 100px;
    }
    
    .cont{
        border:1px solid #dddddd;
        display: flex;
    }
    
    .eng{
        border:1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rupee{
        border:1px solid #dddddd ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .endd div{
        margin-right: 10px;
    }
    
    .endd p{
        padding: 5px;
        color:#cccccc;
        font-size: 13px;
    }
    
    .endd{
        display: flex;
    }
    
    .fpan4{
        background-color: #131A22;
        font-size: 0.75rem;
        color:#dddddd;
        height:77px;
    }
    
    .pages a{
        margin-right:15px;
    }
    
    .copyright{
        text-align: center;
        padding-top: 5px;
    }
    
    .pages{
        text-align: center;
        padding-top: 25px;
    }
    
    .pages a:hover{
        text-decoration: underline;
    }
}

@media(min-width:450px) and (max-width:600px){
    *{
        margin:0;
        font-family: Arial;
        border: border-box;
    }
    
    .navbar{
        height:45px;
        background-color: #0F1111;
        color:white;
        /* display:flex; */
        /* align-items: center; */
        /* justify-content: space-evenly; */
        overflow: hidden;
    }
    
    /* box 1 */
    
    .navlogo{
        height:40px;
        width:70px;
    }
    
    .logo{
        background-image: url("Logooo.png");
        background-size: cover;
        height:38px;
        width: 70px;
    }
    
    .border{
        border:1px solid transparent;
    }
    
    .border:hover{
        border:1px solid white;
    }
    
    
    /* box2 */
    
    
    .ad1{
        color:#cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
        display: none;
    }
    
    .ad2{
        color:#ffffff;
        font-size: 1rem;
        margin-left: 3px;
    }
    
    .addicon{
        display: flex;
        align-items: center;
    }
    
    
    /*Box 3*/
    
    
    .navsearch{
        display: flex;
        background-color: orange;
        justify-content: space-evenly;
        width: 300px;
        height: 30px;
        border-radius: 3px;
        flex-shrink: 3;
    
    }
    
    .searchselect{
        background-color: #f3f3f3;
        width: 50px;
        text-align:center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
    }
    
    .searchinput{
        width:100%;
        font-size: 1rem;
        border:none;
    }
    
    .searchicon{
        width:45px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:black;
    }
    
    .navsearch:hover{
        background-color: rgb(255, 123, 0);
    
    }
    
    .navsearch:hover{
        border:2px solid orange;
    }
    
   .countryselect{
    display:none;
   }

   .navcountry i{
    font-size: 20px;
   }

    /* Box 5/6 */

    span{
        font-size: 0.7rem;
    }
    
    .navsec{
        font-size: 0.85rem;
        font-weight: 700;
    }

    .navacc{
        display:none;
    }

    .navreturn p{
        display: none;
    }

    .navreturn i{
        font-size: 25px;
    }
    
    
    /* Box 7 */
    
    
    .navcart i{
        font-size: 20px;
    }
    
    .navcart p{
        font-size: 0.85rem;
        font-weight: 700;
        display: none;
    }
    
    
    /* PANEL */
    
    
    .panel{
        height:40px;
        background-color: #222f3d;
        display:flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .panelall{
        padding: 8px;
    }
    
    .panelops p{
        display: inline;
        margin-left: 3px;
        padding:6px;
        font-size: 10px;
    }
    
    .panelops{
        width:80%;
        font-size: 0.85rem;
    }
    
    .paneldeals{
        font-size: 0.65rem;
        font-weight: 700;
        padding:3px;
    }

    .all1{
        display: none;
    }
    
    
    /* Hero Section */
    
    .heroo{
        background-image: url(hero_image.jpg);
        height: 129px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .heromsg{
        background-color: white;
        color: black;
        height:15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.38rem;
        width: 80%;
        margin-bottom:25px;
    }
    
    .heromsg a{
        color: #007185;
    }
    
    .heromsg a:hover{
        color:rgb(244, 110, 8);
        text-decoration: underline;
    }
    
    
    /**Shop Section**/
    
    
    .shoppy{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    
    .box{
        height:160px;
        border:2px solid black;
        width: 140px;
        background-color: white;
        padding: 10px 0px 15px;
        margin-top: 0px;
    }
    
    .boximg{
        height:130px;
        background-size: cover;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    
    .boxcon{
        margin-left: 0.55rem;
        margin-right: 0.55rem;
    }
    
    .boxcon p{
        color:#007185;
        font-size: 10px;
    }
    
    .boxcon p:hover{
        color:orangered;
    }

    .boxcon h2{
        font-size: 17px;
    }
    
    
    /**Footer**/
    
    footer{
        margin-top: 15px;
    }
    
    .fpan1{
        background-color: #37475a;
        color:white;
        height:40px;
        display: flex;
        justify-content:center ;
        align-items: center;
        font-size: 0.85rem;
    }
    
    .fpan1 a{
        text-decoration: none;
        color:white
    }
    
    .fpan1:hover{
        background-color: #47586d;
    }
    
    .fpan2{
        background-color: #222f3d;
        color: white;
        height:300px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .fpan2 a:hover{
        text-decoration: underline;
    }
    ul{
        margin-top: 20px;
    }
    
    ul a{
        display: block;
        font-size: 0.50rem;
        margin-top: 10px;
        color:#dddddd;
    }
    
    ul p{
        font-weight: 600;
        font-size: 13px;
    }
    
    .fpan3{
        background-color:#222f3d;
        color:white;
        border-top: 0.5px solid white;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo1{
        background-image: url("Logog.png");
        background-size: cover;
        height:50px;
        width:100px;
        margin-right: 100px;
    }
    
    .cont{
        border:1px solid #dddddd;
        display: flex;
    }
    
    .eng{
        border:1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rupee{
        border:1px solid #dddddd ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .endd div{
        margin-right: 10px;
    }
    
    .endd p{
        padding: 5px;
        color:#cccccc;
        font-size: 10px;
    }
    
    .endd{
        display: flex;
    }
    
    .fpan4{
        background-color: #131A22;
        font-size: 0.75rem;
        color:#dddddd;
        height:77px;
    }
    
    .pages a{
        margin-right:15px;
    }
    
    .copyright{
        text-align: center;
        padding-top: 5px;
    }
    
    .pages{
        text-align: center;
        padding-top: 25px;
    }
    
    .pages a:hover{
        text-decoration: underline;
    }
}

@media(min-width:320px) and (max-width:450px){
    *{
        margin:0;
        font-family: Arial;
        border: border-box;
        overflow: hidden;
    }

    ::-webkit-scrollbar{
        width:100px;
    }

    ::-webkit-scrollbar-track{
        border:1px solid black;
        background-color: whitesmoke;
      }

    ::-webkit-scrollbar-thumb{
        background:grey;
    }

    .navbar{
        height: 45px;
        background-color: #0F1111;
        color:white;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        /* flex-wrap: wrap; */
    }
    
    /* box 1 */
    
    .navlogo{
        height:40px;
        width:70px;
    }
    
    .logo{
        background-image: url("Logooo.png");
        background-size: cover;
        height:38px;
        width: 70px;
    }
    
    .border{
        border:1px solid transparent;
    }
    
    .border:hover{
        border:1px solid white;
    }
    
    
    /* box2 */
    
    
    .ad1{
        color:#cccccc;
        font-size: 0.85rem;
        margin-left: 15px;
        display: none;
    }
    
    .ad2{
        color:#ffffff;
        font-size: 1rem;
        margin-left: 3px;
        display:none;
    }
    
    .addicon{
        display: flex;
        align-items: center;
    }
    
    
    /*Box 3*/
    
    
    .navsearch{
        display: flex;
        background-color: orange;
        justify-content: space-evenly;
        width: 200px;
        height: 20px;
        border-radius: 3px;
    }
    
    .searchselect{
        background-color: #f3f3f3;
        width: 50px;
        text-align:center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
    }
    
    .searchinput{
        width:100%;
        font-size: 0.7rem;
        border:none;
    }
    
    .searchicon{
        width:25px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:black;
    }

    .searchicon i{
        font-size: 15px;
    }
    
    .navsearch:hover{
        background-color: rgb(255, 123, 0);
    
    }
    
    .navsearch:hover{
        border:2px solid orange;
    }
    
   .countryselect{
    display:none;
   }

   .navcountry i{
    font-size: 16px;
   }

    /* Box 5/6 */

    span{
        font-size: 0.7rem;
    }
    
    .navsec{
        font-size: 0.85rem;
        font-weight: 700;
    }

    .navacc{
        display:none;
    }

    .navreturn p{
        display: none;
    }

    .navreturn i{
        font-size: 16px;
    }
    
    
    /* Box 7 */
    
    
    .navcart i{
        font-size: 16px;
    }
    
    .navcart p{
        font-size: 0.85rem;
        font-weight: 700;
        display: none;
    }
    
    
    /* PANEL */
    
    
    .panel{
        height:40px;
        background-color: #222f3d;
        display:flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }
    
    .panelall{
        padding: 8px;
    }
    
    .panelops p{
        display: inline;
        margin-left: 3px;
        padding:6px;
        font-size: 10px;
    }
    
    .panelops{
        width:80%;
        font-size: 0.85rem;
    }
    
    .paneldeals{
        font-size: 0.65rem;
        font-weight: 700;
        padding:3px;
    }

    .all1{
        display: none;
    }
    
    
    /* Hero Section */
    
    .heroo{
        background-image: url(hero_image.jpg);
        height: 109px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .heromsg{
        background-color: white;
        color: black;
        height:15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.38rem;
        width: 80%;
        margin-bottom:25px;
    }
    
    .heromsg a{
        color: #007185;
    }
    
    .heromsg a:hover{
        color:rgb(244, 110, 8);
        text-decoration: underline;
    }
    
    
    /**Shop Section**/
    
    
    .shoppy{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }
    
    .box{
        height:160px;
        border:2px solid black;
        width: 140px;
        background-color: white;
        padding: 10px 0px 15px;
        margin-top: 0px;
    }
    
    .boximg{
        height:130px;
        background-size: cover;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    
    .boxcon{
        margin-left: 0.55rem;
        margin-right: 0.55rem;
    }
    
    .boxcon p{
        color:#007185;
        font-size: 10px;
    }
    
    .boxcon p:hover{
        color:orangered;
    }

    .boxcon h2{
        font-size: 17px;
    }
    
    
    /**Footer**/
    
    footer{
        margin-top: 15px;
    }
    
    .fpan1{
        background-color: #37475a;
        color:white;
        height:30px;
        display: flex;
        justify-content:center ;
        align-items: center;
        font-size: 0.85rem;
    }
    
    .fpan1 a{
        text-decoration: none;
        color:white
    }
    
    .fpan1:hover{
        background-color: #47586d;
    }
    
    .fpan2{
        background-color: #222f3d;
        color: white;
        height:200px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .fpan2 a:hover{
        text-decoration: underline;
    }
    ul{
        margin-top: 20px;
    }
    
    ul a{
        display: block;
        font-size: 0.3rem;
        margin-top: 6px;
        color:#dddddd;
    }
    
    ul p{
        font-weight: 400;
        font-size: 8px;
    }
    
    .fpan3{
        background-color:#222f3d;
        color:white;
        border-top: 0.5px solid white;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo1{
        background-image: url("Logog.png");
        background-size: cover;
        height:50px;
        width:100px;
        margin-right: 100px;
    }
    
    .cont{
        border:1px solid #dddddd;
        display: flex;
    }
    
    .eng i{
        border:1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        display: none;
    }
    
    .rupee i{
        border:1px solid #dddddd ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        display: none;
    }
    
    .endd div{
        margin-right: 7px;
    }
    
    .endd p{
        padding: 5px;
        color:#cccccc;
        font-size: 7px;
    }
    
    .endd{
        display: flex;
    }
    
    .fpan4{
        background-color: #131A22;
        font-size: 0.75rem;
        color:#dddddd;
        height:77px;
    }
    
    .pages a{
        margin-right:15px;
    }
    
    .copyright{
        text-align: center;
        padding-top: 5px;
    }
    
    .pages{
        text-align: center;
        padding-top: 25px;
    }
    
    .pages a:hover{
        text-decoration: underline;
    }
}